{% extends 'base.html.twig' %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}
{% block title %}{{ 'comment_delete'|trans }}{% endblock %}

{% block content %}
    <article class="center-blok container">
        <div class="container">
            <header>
                <div class="col-md-3">
                    <a href="{{ url('photo_view', {'id':comment.photo_id}) }}" title="{{ 'label.back_to_photo'|trans }}" class="btn btn-default">
                        <span class="fa fa-mail-reply" aria-hidden="true"></span>
						<i class="glyphicon glyphicon-arrow-left"></i>
                        {{ 'label.back_to_photo'|trans }}
                    </a>
                </div>
                <div class="col-md-6">
                    <h1 class="text-center">{{ 'comment_delete'|trans}}</h1>
                </div>
            </header>
        </div>



        {% if comment|length %}
            <div class="container">
                <div class="col-md-3">
                    <p>{{ 'publication_date'|trans }}: {{comment.publicationDate}}</p>

                    <p>{{ 'sure'|trans }}</p>
                    {{ form_start(form, { method: 'post', action: url('comment_delete', {'id': comment.id}) }) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-danger" />
                    {{ form_end(form) }}
                </div>
                <div class="col-md-6 comment">
                    <p>{{comment.text}}</p>
                </div>
            </div>
        {% endif %}
    </article>
{% endblock %}