{% extends 'base.html.twig' %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}
{% block title %}{{ 'photo_delete'|trans }}{% endblock %}

{% block content %}
    <article class="center-blok container">
        <div class="container">
            <header>
                <div class="col-md-3">
                    <a href="{{ url('profile_view', {'id':photo.userId}) }}" title="{{ 'label.go_to'|trans }}{{ 'profile'|trans }}" class="btn btn-default">
                        <span class="fa fa-mail-reply" aria-hidden="true"></span>
                        <i class="glyphicon glyphicon-arrow-left"></i>
                        {{ 'label.go_to_profile'|trans }}
                    </a>
                </div>
                <div class="col-md-6">
                    <h1 class="text-center">{{ 'photo_delete'|trans}}</h1>
                </div>
            </header>
        </div>



        {% if photo|length %}
            <div class="container">
                <div class="col-md-3">
                    <img src="{{ asset('uploads/photos/' ~ photo.source) }}"  alt="{{ photo.title }}">
                </div>
                <div class="col-md-6">
                    <p>{{ 'title'|trans }}: {{photo.title}}</p>
                    <p>{{ 'publication_date'|trans }}: {{photo.publicationDate}}</p>

                    <p>{{ 'sure'|trans }}</p>
                    {{ form_start(form, { method: 'post', action: url('photo_delete', {'id': photo.id}) }) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-danger" />
                    {{ form_end(form) }}
                </div>
            </div>
        {% endif %}
    </article>
{% endblock %}